#page{
  width: 80%;
  margin: 0px auto;
  background-image: url("../images/tulip.gif");
  background-repeat: no-repeat;
  background-position: right bottom;
}
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	background-color: #E3F0FB;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

/*--------------------------------------------------------------------*/
ul {
	text-align: center;
}
li {
  display: inline;
  padding: 5px;
}
header, footer {
  /* zastepczy kolor tla */
  background-color: #66cccc;
  /* zastepczy obraz tla */
  background-image: url("../images/fallback-image.png");
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#336666, #66cccc);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66cccc), to(#336666));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#336666, #66cccc);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#336666, #66cccc);
}/* koniec gradientu */
#content {
	width: 65%;
	margin: 10px;
	overflow: auto;
	float: left;
}
aside {
	width: 30%;
	overflow: auto;
	float: right;
	margin-top: 10px;
	padding-top: 10px;
}
#aside {
	text-align: left;
}
footer {
	width: 100%;
	overflow: auto;
}#page{
  width: 80%;
  margin: 0px auto;
  background-image: url("../images/tulip.gif");
  background-repeat: no-repeat;
  background-position: right bottom;
}
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	background-color: #E3F0FB;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

/*--------------------------------------------------------------------*/
ul {
	text-align: center;
}
li {
  display: inline;
  padding: 5px;
}
header, footer {
  /* zastepczy kolor tla */
  background-color: #66cccc;
  /* zastepczy obraz tla */
  background-image: url("../images/fallback-image.png");
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#336666, #66cccc);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66cccc), to(#336666));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#336666, #66cccc);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#336666, #66cccc);
}/* koniec gradientu */
#content {
	width: 65%;
	margin: 10px;
	overflow: auto;
	float: left;
}
aside {
	width: 30%;
	overflow: auto;
	float: right;
	margin-top: 10px;
	padding-top: 10px;
}
#aside {
	text-align: left;
}
footer {
	width: 100%;
	overflow: auto;
}
